<div class="main-parent">
    <div class="bg-img">
       <img src="assets/images/bacground.jpg" alt="">
    </div>
<div class="row _new_cls">
<div class="col-md-1"></div>

<div class="col-md-3">
<nb-card class="_acc_clr_chng">
 <nb-card-header>
   <div class="col main-div">
     <div class="card-img">
       <img class="profile-img" src="../../assets/images/profile-photo.png">

     </div>
     <h5 class="h3 mb-0">Nathaniel Polle
     </h5>
     <h6 class="text-uppercase text-muted ls-1 mb-1">Microsoft Inc
     </h6>
     <div class="_center_laign">
       <button class="active-button">
              <span class="active-dot"></span>
              <span class="active">ACTIVE</span></button>
      <button class="inactive-button">
              <span class="inactive-dot"></span>
              <span class="inactive">INACTIVE</span></button>
      </div> 
      <div class="section-header">
       <!-- <button nbButton class="bsic" size="tiny">Basic</button>
        <span class="_algin">Plan</span>  
      -->
      <button nbButton class="bsic" size="tiny">Basic</button>  <span class="_algin">Plan</span>
      <button class="_to_pro" nbButton size="tiny" status="warning">
      Upgrade to PRO</button>
      <span class="section-divider">
      </span>
    </div>
   </div>
 </nb-card-header>
 <nb-card-body class="_body_card" >
   <main class="leaderboard__profiles">
     <article class="leaderboard__profile">
       <nb-icon  class="leaderboard__picture" icon="shopping-cart-outline" ></nb-icon>
       <span class="leaderboard__name">Orders</span>
       <span class="leaderboard__value">20</span>
     </article>
     
     <article class="leaderboard__profile">
       <nb-icon  class="leaderboard__picture" icon="paper-plane-outline" ></nb-icon>

      
       <span class="leaderboard__name">Deliveries</span>
       <span class="leaderboard__value">20</span>
     </article>
     <article class="leaderboard__profile">
       <nb-icon  class="leaderboard__picture" icon="people-outline" ></nb-icon>

      
       <span class="leaderboard__name">Users</span>
       <span class="leaderboard__value">6</span>
     </article>
     
   
   </main>
   
   
   <div class="_col-saperate">
  
     <div class="sec-div">
       <button class="padding" nbButton status="basic">
         <span class="saparate">RAJA542247754    
         </span>
         <span class="cone">  
           <nb-icon icon="copy" ></nb-icon>

         </span>
       </button>
     </div>
     <div class="_chng_pass">
         <span class="span-chng"> <nb-icon icon="unlock-outline" ></nb-icon>
           Change Password </span>
           <span class="_txt_line"></span>
     </div>
    
   </div>
 </nb-card-body>
</nb-card>
</div>
<div class="col-md-7">

<nb-card class="_bg_color">
 <nb-tabset class="_pt3">
   <nb-tab  tabTitle="Account" tabIcon="person-outline" responsive>
     
     <div class="row">
         <div class="column">
           <mat-form-field class="_pstn_chng" appearance="outline">
             <input matInput placeholder="First Name" disabled>
           </mat-form-field>

           <mat-form-field class="_width_chng" appearance="outline">
             <mat-label>Mobile</mat-label>
             <input class="_pad_input" matInput placeholder="Mobile" disabled>
             
           </mat-form-field>
           <mat-form-field class="_width_chng" appearance="outline">
             <mat-label>Email</mat-label>
             <input class="_pad_input" matInput placeholder="Example@gmail.com" disabled>
             
           </mat-form-field>
           <mat-form-field class="_width_chng" appearance="outline">
             <mat-label>Business</mat-label>
             <input class="_pad_input" matInput placeholder="Business" disabled>
             
           </mat-form-field>

         </div><!--col-md-4-->
         <div class="column">
           <mat-form-field class="_pstn_chng" appearance="outline">
             <mat-label >Firmname</mat-label>
             
             <input   matInput placeholder="Firmname" disabled>
             
           </mat-form-field>
         
           <mat-form-field class="_width_chng" appearance="outline">
             <mat-label>GST IN</mat-label>
             <input class="_pad_input" matInput placeholder="GST IN" disabled>
             
           </mat-form-field>
           <mat-form-field class="_width_chng" appearance="outline">
             <mat-label>Address</mat-label>
           
             <textarea  class="_pad_input" matInput placeholder="Enter Your Address" disabled></textarea>

           </mat-form-field>
        
         </div>
     </div>
   </nb-tab>
   <!-- <nb-tab tabTitle="Company settings" disabled>
     <p>List of 
       <strong>orders
       </strong>.
     </p>
   </nb-tab>
   <nb-tab tabTitle="Documents" disabled>
   </nb-tab>
   <nb-tab tabTitle="Billing" disabled>
   </nb-tab>
   <nb-tab tabTitle="Notifications" disabled>
   </nb-tab> -->
 </nb-tabset>
</nb-card>
</div>
<div class="col-md-1"></div>
</div>
</div><!--flex-container-->

